#ignore the following directories
/routes/*.json
/response/*.json

#mac byproducts
/routes/.DS_Store
.DS_Store

#ignore Node byproducts#
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules